@import "../../../../../styles/params/variables";
.buttons__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 100%;
  padding-top: 2rem;
  padding-right: 2rem;
  a {
    color: $mainBlueColor;
    text-decoration: none;
    padding-top: 1rem;
    margin-left: 1rem;
  } 
}