@import "../../../../../styles/params/variables";
.buttons__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-basis: 100%;
  padding-top: 2rem;
  padding-right: 2rem;
  a {
    color: $mainBlueColor;
    text-decoration: none;
    padding-top: 1rem;
    margin-left: 1rem;
  }
  
}
.buttons__submit {
  flex-basis: 20%;
  color: $whiteColor;
  padding: 15px 25px;
  background-color: $mainBlueColor;
  font-size: 1em;
  border: 1px solid $mainBlueColor;
  border-radius: 4px;
  box-shadow: 0 1px 6px $mainBlueColor;
  cursor: pointer;
}