@import "../../../../../styles/params/variables";

.stockNumberContainer {
  border: none;
  margin: 20px 0;
  padding-top: 10px;
  flex-basis: 90%;
  
@include respond(ipad) {
  flex-basis: 50%;
  align-self: flex-start;
}
@include respond(tab-port) {
  flex-basis: 90%;
  align-self: flex-start;
}
}


.stockNumberHeading {
  @include allControllerHeading();
}
.stockNumbercontrols {
  border: none;
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
  color: #989898;
  font-size: 0.8em;
}
.rangeSlider
{
 margin-left:1rem;
}
.active {
  color: #109cf1 !important;
}
