@import "../../../../../styles/params/variables";

.factors {
  align-items: center;
}

.factorsHeading {
  @include allControllerHeading();
}

.factorscontrols {
  //display: flex;
  //justify-content: flex-start;
  //flex-wrap: wrap;
  //flex-direction: column;
  //margin: 0.5rem;
  display: block;
  @include respond(phone) {
  
}
}
.checkbox {
  margin-right: 0.5rem;
}
// css checkbox mixin

//Large Screens
@media only screen and ($mediaSmallMinWidth){
  .factorscontrols {
   
    //justify-content: flex-start;

 
  }

}
