@import "../../../../../styles/params/variables";

.companySize {
  flex-basis: 100% !important;
}
.companySizeHeading {
  @include allControllerHeading();
}
.btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 30px;

  a {
    color: $mainBlueColor;
  }

  //@include respond(phone) {
  //   flex-direction: column !important;
  //
  //
  //}
  //
  //@include respond(ipad) {
  //
  //  flex-direction: row !important;
  //  flex-wrap: nowrap !important;
  //
  //
  //}
  //
  //@include respond(mediaMinWithMedium) {
  //
  //  flex-basis: 30% !important;
  //
  //
  //}
}

.active {
  background-color: $mainBlueColor !important;
  color: #e1f2fd !important;
  border: none !important;
  box-shadow: 1px 1px 3px $mainBlueColor !important;
}

