@import "../../../../../styles/params/variables";

.companySize {
  flex-basis: 100% !important;
}
.companySizeHeading {
  @include allControllerHeading();
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  // align-items: flex-start;
  flex-wrap: wrap;

  a {
    color: $mainBlueColor;
  }

  @include respond(phone) {
     flex-direction: column !important;
      
    
  }

  @include respond(ipad) {
   
    flex-direction: row !important;
    flex-wrap: nowrap !important;
      
  
  }

  @include respond(mediaMinWithMedium) {
   
    flex-basis: 30% !important;
      
  
  }
}

.active {
  background-color: $mainBlueColor !important;
  color: #e1f2fd !important;
  border: none !important;
  box-shadow: 1px 1px 3px $mainBlueColor !important;
}

