
.btn {
    padding: 8px 20px;
    line-height: 1.6;
}
.btn-primary {
    color: #fff;
    background-color: $mainBlueColor;
    border-color: $mainBlueColor;
}
.btn-link {
    color: $mainBlueColor;
}
.btn-outline-primary {
    color: $mainBlueColor;
    border-color: $mainBlueColor;
}


