$form-control-padding: 11px 12px;
$grid-gutter: 15px;


.form-group {
  margin-bottom: $grid-gutter;
}

.form-control {
  padding: $form-control-padding;
  height: auto;
  line-height: 1.6;
  background: rgba($form-control-background, 0.9);
  border-color: $form-control-background;
  appearance: none;
  font-size: 13px;
  color: $form-control-color;

  &:focus {
    color: $form-control-color;
    background: rgba($form-control-background, 0.9);
  }

  &::-webkit-input-placeholder { /* Edge */
    color: $form-control-placeholder-color;
    font-family: $font-regular;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $form-control-placeholder-color;
    font-family: $font-regular;
  }

  &::placeholder {
    color: $form-control-placeholder-color;
    font-family: $font-regular;
  }
}

.form-control-select {
  position: relative;
  @include formControl-caret;

  &._blue {

    .form-control {
      color: $mainBlueColor;
      background-color: rgba($mainBlueColor, 0.15);
      border-color: rgba($mainBlueColor, 0.1);
    }

    &::after {
      border-color: $mainBlueColor;
    }
  }
  &._black {

  }

}


.form-control.is-invalid,
.was-validated .form-control:invalid {
  padding: $form-control-padding;
  background: rgba($form-control-background, 0.9);
  border-color: $redColor;
}

.input-group {
  .form-control {
    &:focus {
      background-color: $form-control-background;
      border-color: transparent;
      box-shadow: none;
    }
  }

  &.search-input-group {
    max-width: 250px;
    @media (max-width: 992px) {
      max-width: 150px;
      padding-left: 7px;
      padding-right: 7px;
    }

    .input-group-text {
      color: $form-control-placeholder-color;
      padding-right: 10px;
      padding-left: 15px;

      @media (max-width: 992px) {
        padding-left: 10px;
      }
    }



    .form-control {
      padding-left: 0;
    }
  }
}

.input-group-text {
  padding: $form-control-padding;
  height: auto;
  line-height: 1.6;
  background: rgba($form-control-background, 0.9);
  border-color: $form-control-background;
  appearance: none;
  font-size: 16px;
}


.checkbox--item {
  position: relative;
  display: flex;
  align-items: center;
  color: $text-color-dark-primary;
  margin: 10px 0;
  line-height: 1;

  label {
    display: flex;
    align-items: center;
    margin: 0;
    cursor: pointer;

    span {
      text-transform: capitalize;
    }

    &:hover {

      input[type="checkbox"] {

        &:checked + i {
          border-color: $text-color-dark-primary;

          &:after {
            opacity: 1;
            border-color: $mainBlueColor;
          }
        }

        + i {
          &:after {
            opacity: 0.2;

            @media (max-width: 575.98px) {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked + i {
      border-color: $text-color-dark-primary;

      &:hover:after {
        opacity: 1;

        @media (max-width: 575.98px) {
          opacity: 0;
        }
      }

      &:after {
        opacity: 1;
        border-color: $mainBlueColor;
      }
    }

    + i {
      position: relative;
      display: block;
      width: 20px;
      height: 20px;
      margin: 0 10px 0 0;
      vertical-align: middle;
      border: 1px solid $text-color-dark-primary;
      transition: background 200ms ease;
      border-radius: 0.2em;
      background: #ffffff;
      cursor: pointer;
      box-sizing: border-box;

      &:before,
      &:after {
        box-sizing: border-box;
      }

      //&:hover:after {
      //  opacity: 0.3;
      //}

      &:after {
        content: "";
        opacity: 0;
        transform: translateZ(1px) rotate(-45deg);
        outline: 1px solid transparent; // hack to prevent antialias atrifacts in firefox
        position: absolute;
        top: 29%;
        left: 21%;
        width: 0.80em;
        height: 0.35em;
        border: 0.15em solid #222;
        border-top: none;
        border-right: none;
        background: rgba(0, 0, 0, 0);
      }
    }

  }

}