
$form-control-padding: 11px 12px;
$grid-gutter: 15px;


.form-group {
  margin-bottom: $grid-gutter;
}

.form-control {
  padding: $form-control-padding;
  height: auto;
  line-height: 1.6;
  background: rgba($form-control-background, 0.9);
  border-color: $form-control-background;
  appearance: none;
  font-size: 13px;

  &:focus {
    color: $form-control-color;
    background-image: none;
  }

  &::-webkit-input-placeholder { /* Edge */
    color: $form-control-placeholder-color;
    font-family: $font-regular;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $form-control-placeholder-color;
    font-family: $font-regular;
  }

  &::placeholder {
    color: $form-control-placeholder-color;
    font-family: $font-regular;
  }
}


.form-control.is-invalid,
.was-validated .form-control:invalid {
  padding: $form-control-padding;
  background: rgba($form-control-background, 0.9);
  border-color: $redColor;
}

.input-group {
  .form-control {
    &:focus {
      background-color: $form-control-background;
      border-color: transparent;
      box-shadow: none;
    }
  }

  &.search-input-group {

    .input-group-text {
      color: $form-control-placeholder-color;
      padding-right: 10px;
      padding-left: 15px;
    }
    max-width: 250px;
    .form-control {
      padding-left: 0;
    }
  }
}

.input-group-text {
  padding: $form-control-padding;
  height: auto;
  line-height: 1.6;
  background: rgba($form-control-background, 0.9);
  border-color: $form-control-background;
  appearance: none;
  font-size: 16px;
}
