

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  &.site-header {
    flex-shrink: 0;

    ._header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;

      ._btn-auth-container {
        line-height: 1;
        display: flex;
        align-items: center;

        @media (max-width: 575.98px) {
          display: none;
        }

        .btn-link {
          color: $mainBlueColor;
          display: block;
          line-height: 1;
          padding: 4px;
        }
        ._separator {
          color: $mainBlueColor;
          margin: 0 10px;
        }
      }
    }
    ._header-title {
      font-family: $font-medium;
      font-size: 24px;
      color: $mainBlueColor;
      padding-left: 5px;
      line-height: 1;
    }

    ._auth-container {
      display: flex;
      align-items: center;
    }

    ._profile-picture-avatar {
      margin-left: 10px;

      img {
        display: block;
        width: 46px;
        height: 46px;
        border-radius: 4px;
      }
    }

    ._btn-notification-header {
      position: relative;
      width: 46px;
      height: 46px;
      background-color: #fff;
      margin-left: 10px;
      border-radius: 4px;
      border: none;
      color: $purple-light;
      padding: 0;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;

      ._badge {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: $orange-light;
      }
    }


  }
}

main {
  &.site-content {
    flex: 1;
    width: 100%;
  }
}

.container-authentication {
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 50px;
  box-shadow: $box-shadow;
  border-radius: 4px;
  padding: 40px 30px;

  @media (max-width: 575.98px) {
    padding: 25px 15px;
  }

  .h4 {
    font-family: $font-medium;
    color: $mainBlueColor;
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
    @media (max-width: 575.98px) {
      font-size: 1.3rem;
    }
  }

  ._btn-container {
    margin-bottom: 20px;

    .btn-primary {
      margin-right: 15px;
      padding-left: 50px;
      padding-right: 50px;
      @media (max-width: 575.98px) {
        padding-left: 35px;
        padding-right: 35px;
      }
    }

    span {
      a {
        color: $mainBlueColor;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 3px;
        line-height: 1.5;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      }
    }
  }

  ._btn-text-container {
    display: flex;
    align-items: center;
    color: $text-color-dark;

    span {
      margin-left: 5px;

      a {
        color: $mainBlueColor;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 3px;
        line-height: 1.5;

      }
    }
  }
}

.form-login_wrapper {
  max-width: 600px;
  margin: 0 auto 0 5%;

  @media (max-width: 767.98px) {
    margin: 0;
  }


  ._login-form {
    display: block;


    .form-control {
      max-width: 350px;
      @media (max-width: 575.98px) {
        max-width: none;
      }
    }
  }


}


.form-signup_wrapper {
  padding: 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 991.98px) {
    padding: 0;
  }
  @media (max-width: 575.98px) {
    display: block;
  }

  .h4 {
    margin-bottom: 0.4rem;
  }

  ._signup-form {
    position: relative;
    padding-right: 50px;
    @media (max-width: 991.98px) {
      padding: 0 40px 0 10px;
    }
    @media (max-width: 767.98px) {
      padding: 0 30px 0 0px;
    }
    @media (max-width: 575.98px) {
      padding: 0 0 30px 0;
      margin-bottom: 30px;
    }


    .text-medium {
      font-family: $font-regular;
    }

    ._form-wrapper {
      margin-top: 20px;
    }

    ._btn-container {
      display: flex;
      align-items: center;
      @media (max-width: 767.98px) {
        display: block;
      }
      @media (max-width: 575.98px) {
        margin-bottom: 0;
      }

      .btn.btn-primary {
        @media (max-width: 991.98px) {
          padding-left: 30px;
          padding-right: 30px;
        }
        @media (max-width: 767.98px) {
          margin-bottom: 15px;
        }
      }
    }

    ._name-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;

      @media (max-width: 575.98px) {
        display: block;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 1px;
      height: 80%;
      background: $backgroundColor;

      @media (max-width: 575.98px) {
        right: auto;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 80%;
        height: 1px;
      }
    }
  }

  ._signup-description {
    padding-left: 50px;
    @media (max-width: 991.98px) {
      padding: 0 10px 0 35px;
    }
    @media (max-width: 767.98px) {
      padding: 0 0 0 25px;
    }
    @media (max-width: 575.98px) {
      padding: 0;
    }

    &_list {
      margin-top: 10px;
      padding: 0;

      li {
        font-family: $font-regular;
        margin-bottom: 8px;
        font-size: 15px;
      }

      .fas {
        color: $secondBlueColor;
        margin-right: 10px;
      }
    }
  }
}

footer {
  &.site-footer {
    flex-shrink: 0;

    ._footer-notes {
      background-color: $whiteColor;
      padding: 20px calc(5% + 45px);
      text-align: center;
      @media (max-width: 991.98px) {
        padding: 20px;
      }
      @media (max-width: 767.98px) {
        padding: 15px 15px 13px;
        font-size: 12px;
      }
    }
  }
}

.footer-nav-links {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: $mainBlueColor;

  ._item {
    border-right: 1px solid #fff;

    a {
      color: #fff;
      display: block;
      margin: 0 25px;
      padding: 0 10px;
      line-height: 1;
      @media (max-width: 991.98px) {
        margin: 0 20px;
      }
      @media (max-width: 767.98px) {
        margin: 0 10px;
        padding: 0 5px;
        font-size: 12px;
      }
      @media (max-width: 575.98px) {
        margin: 0 5px;
        padding: 0 1px;
        font-size: 10px;
      }
    }
    &:last-of-type {
      border-right: none;
    }
  }
}

.footer-legal-copyright {
  color: #fff;
  background: $text-color-dark-blue;
  text-align: center;
  padding: 10px;
  @media (max-width: 767.98px) {
    font-size: 12px;
  }
  @media (max-width: 575.98px) {
    font-size: 10px;
  }
}

.strategy-builder {
  padding: 15px;
  @include clearfix;

  &_container {

  }
  
  &_breadcrumb {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    padding-left: 15px;

    > div {
      color: $secondBlueColor;
      font-family: $font-regular;
      font-size: 0.9rem;
      
      &:last-of-type {
        color: $mainBlueColor;
        margin-left: 15px;
      }
    }
  }

  &_header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 15px 70px 17px;
    background: #fff;
    border-bottom: 1px solid $border-color-primary;
    @media (max-width: 991.98px) {
      padding: 15px 30px 17px;
    }
    @media (max-width: 767.98px) {
      padding: 15px;
    }
    @media (max-width: 575.98px) {
      grid-gap: 0;
    }

    ._header-item {
      font-family: $font-bold;
      font-size: 17px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: $text-color-dark-primary;
      border-bottom: 3px solid $border-color-dark;
      @media (max-width: 767.98px) {
        font-size: 16px;
      }
      @media (max-width: 575.98px) {
        font-size: 13px;
        padding-left: 5px;
      }

      &._header-active {
        color: $mainBlueColor;
        border-color: $mainBlueColor;
      }
      &._header-done {
        color: $main-blue-transparent;
        border-color: $main-blue-transparent;
      }
    }
  }


  &_body {
    background-color: #fff;
    padding: 20px 70px;
    @media (max-width: 991.98px) {
      padding: 20px 30px;
    }
    @media (max-width: 767.98px) {
      padding: 15px;
    }
  }

  &_btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px 0 0;

    .btn-link {
      padding: 10px;
    }

    .btn-primary {
      padding: 10px 40px;
    }
    .btn {
      margin-left: 15px;
    }
  }
}

.factors-container {
  margin-bottom: 30px;
  @media (max-width: 767.98px) {
    margin-bottom: 20px;
  }

  .tooltip--icon {
    margin-left: 10px;
  }
}


.company-size {

  &-container {
    margin-bottom: 30px;
    @media (max-width: 767.98px) {
      margin-bottom: 20px;
    }
  }

  &_btn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    @media (max-width: 991.98px) {
      grid-gap: 10px;
    }

    .btn-company-size {
      padding: 10px 14px;
      background-color: $backgroundColor;
      border-radius: 4px;
      cursor: pointer;
      appearance: none !important;
      outline: none !important;
      border: none;
      text-align: start;
      display: flex;
      flex-direction: column;

      @media (max-width: 991.98px) {
        padding: 7px;
      }

      ._title {
        display: block;
        font-size: 15px;
        font-family: $font-medium;
        color: $text-color-dark-primary;
        line-height: 1.5;
        margin-bottom: 5px;
      }

      ._description {
        display: block;
        color: $text-color-dark-primary;
        line-height: 1.5;
        font-size: 12px;

        @media (max-width: 991.98px) {
          font-size: 10px;
        }
      }

      &.active {
        background-color: $mainBlueColor;

        ._title {
          color: #fff;
        }
        ._description {
          color: #fff;
        }
      }
    }
  }
}

.country-step-one-container {
  margin-bottom: 30px;
  @media (max-width: 767.98px) {
    margin-bottom: 20px;
  }

  ._select-country {
    @include formControl-caret;
  }
}

.nos-step-one-container {
  margin-bottom: 30px;
  @media (max-width: 767.98px) {
    margin-bottom: 20px;
  }
}

.NumberOfStock-rangeSlider {
  display: flex;
  align-items: center;
  position: relative;

  ._input {
    flex: 1;
    appearance: none;
    height: 2px;
    background: $border-color-dark;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: $whiteColor;
      box-shadow: 1px 1px 5px #c2c1c1;
      cursor: pointer;
    }
  }
  ._label {
    display: flex;
    justify-content: center;
    align-items: center;
    width:35px;
    height: 25px;
    font-size: 0.8rem;
    color: $textColor;
    margin-left: 0.6rem;
    background-color: $border-color-dark;
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  }
}

.sectors-selector-container {
  margin-bottom: 30px;
  @media (max-width: 767.98px) {
    margin-bottom: 20px;
  }

  ._formControl-select {
    @include formControl-caret;

    .form-control {
      text-transform: capitalize;
    }

    ._overSelect {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  ._checkbox-item-container {
    background: $backgroundColor;
    overflow: hidden;
    padding: 0 14px;
  }
}