
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/******************
***** =Header *****
*/
header {
  &.site-header {
    flex-shrink: 0;

    ._header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;

      ._btn-auth-container {
        line-height: 1;
        display: flex;
        align-items: center;

        @media (max-width: 575.98px) {
          display: none;
        }

        .btn-link {
          color: $mainBlueColor;
          display: block;
          line-height: 1;
          padding: 4px;
        }

        ._separator {
          color: $mainBlueColor;
          margin: 0 10px;
        }
      }
    }

    ._header-title {
      font-family: $font-medium;
      font-size: 24px;
      color: $mainBlueColor;
      padding-left: 5px;
      line-height: 1;
    }

    ._auth-container {
      display: flex;
      align-items: center;
    }

    ._profile-picture-avatar {
      margin-left: 10px;

      img {
        display: block;
        width: 46px;
        height: 46px;
        border-radius: 4px;
      }
    }

    ._btn-notification-header {
      position: relative;
      width: 46px;
      height: 46px;
      background-color: #fff;
      margin-left: 10px;
      border-radius: 4px;
      border: none;
      color: $purple-light;
      padding: 0;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;

      ._badge {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: $orange-light;
      }
    }


  }
}

main {
  &.site-content {
    flex: 1;
    width: 100%;
  }
}

.container-authentication {
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 50px;
  box-shadow: $box-shadow;
  border-radius: 4px;
  padding: 40px 30px;

  @media (max-width: 575.98px) {
    padding: 25px 15px;
  }

  .h4 {
    font-family: $font-medium;
    color: $mainBlueColor;
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
    @media (max-width: 575.98px) {
      font-size: 1.3rem;
    }
  }

  ._btn-container {
    margin-bottom: 20px;

    .btn-primary {
      margin-right: 15px;
      padding-left: 50px;
      padding-right: 50px;
      @media (max-width: 575.98px) {
        padding-left: 35px;
        padding-right: 35px;
      }
    }

    span {
      a {
        color: $mainBlueColor;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 3px;
        line-height: 1.5;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      }
    }
  }

  ._btn-text-container {
    display: flex;
    align-items: center;
    color: $text-color-dark;

    span {
      margin-left: 5px;

      a {
        color: $mainBlueColor;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 3px;
        line-height: 1.5;

      }
    }
  }
}

.form-login_wrapper {
  max-width: 600px;
  margin: 0 auto 0 5%;

  @media (max-width: 767.98px) {
    margin: 0;
  }


  ._login-form {
    display: block;


    .form-control {
      max-width: 350px;
      @media (max-width: 575.98px) {
        max-width: none;
      }
    }
  }


}


.form-signup_wrapper {
  padding: 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 991.98px) {
    padding: 0;
  }
  @media (max-width: 575.98px) {
    display: block;
  }

  .h4 {
    margin-bottom: 0.4rem;
  }

  ._signup-form {
    position: relative;
    padding-right: 50px;
    @media (max-width: 991.98px) {
      padding: 0 40px 0 10px;
    }
    @media (max-width: 767.98px) {
      padding: 0 30px 0 0px;
    }
    @media (max-width: 575.98px) {
      padding: 0 0 30px 0;
      margin-bottom: 30px;
    }


    .text-medium {
      font-family: $font-regular;
    }

    ._form-wrapper {
      margin-top: 20px;
    }

    ._btn-container {
      display: flex;
      align-items: center;
      @media (max-width: 767.98px) {
        display: block;
      }
      @media (max-width: 575.98px) {
        margin-bottom: 0;
      }

      .btn.btn-primary {
        @media (max-width: 991.98px) {
          padding-left: 30px;
          padding-right: 30px;
        }
        @media (max-width: 767.98px) {
          margin-bottom: 15px;
        }
      }
    }

    ._name-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;

      @media (max-width: 575.98px) {
        display: block;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 1px;
      height: 80%;
      background: $backgroundColor;

      @media (max-width: 575.98px) {
        right: auto;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 80%;
        height: 1px;
      }
    }
  }

  ._signup-description {
    padding-left: 50px;
    @media (max-width: 991.98px) {
      padding: 0 10px 0 35px;
    }
    @media (max-width: 767.98px) {
      padding: 0 0 0 25px;
    }
    @media (max-width: 575.98px) {
      padding: 0;
    }

    &_list {
      margin-top: 10px;
      padding: 0;

      li {
        font-family: $font-regular;
        margin-bottom: 8px;
        font-size: 15px;
      }

      .fas {
        color: $secondBlueColor;
        margin-right: 10px;
      }
    }
  }
}


/******************
***** =Footer *****
*/
footer {
  &.site-footer {
    flex-shrink: 0;

    ._footer-notes {
      background-color: $whiteColor;
      padding: 20px calc(5% + 45px);
      text-align: center;
      @media (max-width: 991.98px) {
        padding: 20px;
      }
      @media (max-width: 767.98px) {
        padding: 15px 15px 13px;
        font-size: 12px;
      }
    }
  }
}

.footer-nav-links {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: $mainBlueColor;

  ._item {
    border-right: 1px solid #fff;

    a {
      color: #fff;
      display: block;
      margin: 0 25px;
      padding: 0 10px;
      line-height: 1;
      @media (max-width: 991.98px) {
        margin: 0 20px;
      }
      @media (max-width: 767.98px) {
        margin: 0 10px;
        padding: 0 5px;
        font-size: 12px;
      }
      @media (max-width: 575.98px) {
        margin: 0 5px;
        padding: 0 1px;
        font-size: 10px;
      }
    }

    &:last-of-type {
      border-right: none;
    }
  }
}

.footer-legal-copyright {
  color: #fff;
  background: $text-color-dark-blue;
  text-align: center;
  padding: 10px;
  @media (max-width: 767.98px) {
    font-size: 12px;
  }
  @media (max-width: 575.98px) {
    font-size: 10px;
  }
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    padding-bottom: 30px;
  }
}

.main_breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  margin-right: 15px;
  padding-left: 15px;

  > div {
    color: $secondBlueColor;
    font-family: $font-regular;
    font-size: 0.9rem;
    @media (max-width: 575.98px) {
      font-size: 0.8rem;
    }

    &:last-of-type {
      color: $mainBlueColor;
    }
  }
}





/*********************
***** =Dashboard *****
*/
.dashboard {

  &_container {
    padding: 15px;
    margin-bottom: 100px;
    @include clearfix;

    @media (max-width: 575.98px) {
      margin-bottom: 50px;
    }
  }

  &_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    @include card-defaults;

    @media (max-width: 767.98px) {
      padding: 10px 15px;
    }
  }

  &_header-item {
    line-height: 1;
    text-align: center;


    ._header-item-title {
      margin-bottom: 15px;

      &:last-of-type {
        margin-top: 15px;
        margin-bottom: 0;
      }

      @media (max-width: 767.98px) {
        font-size: 13px;
      }
      @media (max-width: 575.98px) {
        font-size: 12px;
      }
    }

    ._header-item-value {
      color: $text-color-dark-blue;
      font-size: 32px;
      line-height: 0.9;
      @media (max-width: 767.98px) {
        font-size: 28px;
      }
      @media (max-width: 575.98px) {
        font-size: 24px;
      }
    }

    ._header-item-value2 {

    }
  }

  &_top-content {
    @include make-row;
  }

  &_top-strategies {
    @include card-defaults;
    @media (max-width: 767.98px) {
      margin-bottom: 15px;
    }

    .card__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 30px;

      ._header-title {
        font-size: 18px;

        @media (max-width: 1199.98px) {
          font-size: 16px;
        }
      }
    }
  }

  &_broker-panel {
    @include card-defaults;

    .card__title {

      ._header-title {
        font-size: 18px;
        @media (max-width: 1199.98px) {
          font-size: 16px;
        }
      }
    }

    ._panel-body {
      padding: 20px;
      text-align: center;
      @media (max-width: 1199.98px) {
        padding: 10px;
      }
      @media (max-width: 575.98px) {
        padding: 15px 50px;
      }
    }

    ._text-title {
      font-size: 18px;
      color: $text-color-dark-blue;
      margin-bottom: 5px;
      @media (max-width: 1199.98px) {
        font-size: 14px;
      }
      @media (max-width: 767.98px) {
        font-size: 16px;
      }
    }

    ._text-body {
      font-size: 15px;
      margin-bottom: 15px;
      @media (max-width: 1199.98px) {
        font-size: 13px;
      }
    }

    ._btn-block {

      .btn {
        display: block;
        width: 100%;
        margin-top: 8px;

        @media (max-width: 1199.98px) {
          font-size: 13px;
        }
        @media (max-width: 575.98px) {
          width: auto;
          min-width: 200px;
          margin: 8px auto 0;
        }
      }
    }
  }

  &_title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 5px;
    margin-top: 15px;

    .section__title {
      font-family: $font-medium;
    }

    .btn {
      font-size: 15px;
      font-family: $font-medium;
    }
  }

  &_strategy-list {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    @include card-defaults;

    @media (max-width: 767.98px) {
      padding: 10px;
    }

    ._strategy-list-item {
      ._text-bold {
        font-family: $font-medium;
        font-size: 15px;
        color: $mainBlueColor;
      }
      ._btn-list-item {
        font-family: $font-medium;
        font-size: 15px;
        line-height: 1;
        color: $mainBlueColor;
        padding: 0;
        @media (max-width: 767.98px) {
          font-size: 14px;
        }
      }

      ._header-item-value {
        @media (max-width: 767.98px) {
          font-size: 22px;
        }
      }
    }
  }

  &_btn-container {
    margin-top: 30px;
    text-align: center;

    @media (max-width: 575.98px) {
      margin-top: 20px;
    }
  }
}


/****************************
***** =Strategy Builder *****
*/
.strategy-builder {
  padding: 15px;
  margin-bottom: 100px;
  @include clearfix;

  @media (max-width: 575.98px) {
    margin-bottom: 50px;
  }



  &_header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 15px 70px 17px;
    background: #fff;
    border-bottom: 1px solid $border-color-primary;
    @media (max-width: 991.98px) {
      padding: 15px 30px 17px;
    }
    @media (max-width: 767.98px) {
      padding: 15px;
    }
    @media (max-width: 575.98px) {
      grid-gap: 0;
      padding: 10px 0 0 0;
      border-bottom: 0;
    }

    ._header-item {
      font-family: $font-bold;
      font-size: 17px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: $text-color-dark-primary;
      border-bottom: 3px solid $border-color-dark;
      @media (max-width: 767.98px) {
        font-size: 16px;
      }
      @media (max-width: 575.98px) {
        font-size: 10px;
        padding-left: 5px;
      }

      &._header-active {
        color: $mainBlueColor;
        border-color: $mainBlueColor;
      }

      &._header-done {
        color: $light-blue;
        border-color: $light-blue;
      }
    }
  }

  &_build-strategy {
    background-color: #fff;
    padding: 20px 70px;
    @media (max-width: 991.98px) {
      padding: 20px 30px;
    }
    @media (max-width: 767.98px) {
      padding: 15px;
    }
  }

  &_analyze-results {
    background-color: #fff;
    padding: 20px 70px;
    @media (max-width: 991.98px) {
      padding: 20px 30px;
    }
    @media (max-width: 767.98px) {
      padding: 15px;
    }
  }

  &_customized-portfolio {
    background-color: #fff;
    padding: 20px 70px;

    @media (max-width: 991.98px) {
      padding: 20px 30px;
    }
    @media (max-width: 767.98px) {
      padding: 15px;
    }
  }

  &_section-title {
    font-family: $font-medium;
    font-size: 18px;
    color: $text-color-dark-blue;
  }

  &_btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px 0 0;

    .btn-link {

      @media (max-width: 575.98px) {
        padding: 8px;
      }
    }

    .btn-primary {
      @media (max-width: 575.98px) {
        padding: 8px 10px;
      }
    }

    .btn {
      margin-left: 10px;
    }
  }
}


/****************************
***** =Strategy Monitor *****
*/
.strategy-monitor {

  &_container {
    padding: 15px;
    margin-bottom: 100px;
    @include clearfix;

    @media (max-width: 575.98px) {
      margin-bottom: 50px;
    }
  }

  &_charts {
    @include make-row;
    margin-bottom: 30px;
  }
  &_table {
    @include card-defaults;
  }
}

.factors-container {
  margin-bottom: 30px;
  @media (max-width: 767.98px) {
    margin-bottom: 20px;
  }
  @media (max-width: 575.98px) {
    margin-bottom: 10px;
  }

  &_checkboxes {
    @media (max-width: 575.98px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0 15px;
    }

    .checkbox--item {
      //overflow: hidden;
      @media (max-width: 575.98px) {
        margin-top: 0;
      }


      &:nth-of-type(2n) {
        .tooltip-container {

          ._tooltip-content {
            @media (max-width: 575.98px) {
              right: -45px;
              left: auto;
            }

            &::after {
              @media (max-width: 575.98px) {
                top: auto;
                right: 53px;
                left: auto;
                bottom: 100%;
              }
            }
          }
        }
      }
    }
  }

  .tooltip--icon {
    margin-left: 10px;
  }
}

.company-size {

  &-container {
    margin-bottom: 30px;
    @media (max-width: 767.98px) {
      margin-bottom: 20px;
    }
  }

  &_btn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    @media (max-width: 991.98px) {
      grid-gap: 10px;
    }
    @media (max-width: 575.98px) {
      grid-gap: 5px;
    }

    .btn-company-size {
      padding: 10px 14px;
      background-color: $backgroundColor;
      border-radius: 4px;
      cursor: pointer;
      appearance: none !important;
      outline: none !important;
      border: none;
      text-align: start;
      display: flex;
      flex-direction: column;

      @media (max-width: 991.98px) {
        padding: 7px;
      }
      @media (max-width: 575.98px) {
        padding: 5px;
      }

      ._title {
        display: block;
        font-size: 15px;
        font-family: $font-medium;
        color: $text-color-dark-primary;
        line-height: 1.5;
        margin-bottom: 5px;
        @media (max-width: 575.98px) {
          font-size: 13px;
        }
      }

      ._description {
        display: block;
        color: $text-color-dark-primary;
        line-height: 1.5;
        font-size: 12px;

        @media (max-width: 991.98px) {
          font-size: 10px;
        }
        @media (max-width: 575.98px) {
          font-size: 9px;
        }
      }

      &.active {
        background-color: $mainBlueColor;

        ._title {
          color: #fff;
        }

        ._description {
          color: #fff;
        }
      }
    }
  }
}

.country-step-one-container {
  margin-bottom: 30px;
  @media (max-width: 767.98px) {
    margin-bottom: 20px;
  }

  ._select-country {
    @include formControl-caret;
  }
}

.nos-step-one-container {
  margin-bottom: 30px;
  @media (max-width: 767.98px) {
    margin-bottom: 20px;
  }
}

.NumberOfStock-rangeSlider {
  display: flex;
  align-items: center;
  position: relative;

  ._input {
    flex: 1;
    appearance: none;
    height: 2px;
    background: $border-color-dark;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: $whiteColor;
      box-shadow: 1px 1px 5px #c2c1c1;
      cursor: pointer;
    }
  }

  ._label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 25px;
    font-size: 0.8rem;
    color: $textColor;
    margin-left: 0.6rem;
    background-color: $border-color-dark;
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  }
}

.sectors-selector-container {
  margin-bottom: 30px;
  @media (max-width: 767.98px) {
    margin-bottom: 20px;
  }

  ._formControl-select {
    @include formControl-caret;

    .form-control {
      text-transform: capitalize;
    }

    ._overSelect {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  ._checkbox-item-container {
    background: $backgroundColor;
    overflow: hidden;
    padding: 0 14px;
  }
}

.charts-card-container {
  @include make-row;
  margin-top: 30px;

  ._card-row-item {
    margin-bottom: 30px;
  }

  .table-responsive {
    margin: 0;
    height: 100%;
  }
}

.charts-card-item {
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: $box-shadow;
  overflow: hidden;
  margin: 0;

  ._card-body {
    position: relative;
    padding: 20px;
  }
}

.card-table {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  box-shadow: $box-shadow;
  margin: 0;
  @media (max-width: 575.98px) {
    height: auto;
  }

  .table-responsive {
    max-height: 400px;
    overflow-y: auto;

    @media (max-width: 575.98px) {
      max-height: none;
    }
  }

  .table {
    margin: 0;

    thead {
      margin: 0;
      padding: 0;
      border: 0;

      tr {
        border-bottom: 1px solid $border-color-primary;

        th {
          font-family: $font-medium;
          color: $text-color-dark-blue;
          font-size: 15px;
          padding: 15px 20px;
          white-space: nowrap;
        }
      }
    }

    tbody {
      tr {
        &:last-of-type {
          td {
            padding: 12px 20px;
          }
        }

        td {
          color: $text-color-dark-blue;
          padding: 12px 20px 0;
          white-space: nowrap;

          &._row-name {
            font-size: 13px;
            font-family: $font-medium;
          }

          &._td-benchmark,
          &._td-strategy {
            text-align: center;
            font-size: 12px;

            &._success {
              color: $mainBlueColor;
            }

            &._warning {
              color: $redColor;
            }
          }
        }
      }
    }
  }

}

.table-customized-portfolio {
  box-shadow: $box-shadow;
  border-radius: 4px;

  .table-responsive {
    border-radius: 4px;
  }

  .table {
    margin: 0;
    white-space: nowrap;

    thead {
      tr {
        background-color: $mainBlueColor;
        color: #fff;

        th {
          font-family: $font-medium;
          text-align: center;
          padding: 15px;
          font-size: 15px;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $border-color-primary;

        &:first-of-type {
          border-bottom: none;
        }

        td {
          text-align: center;
          font-size: 13px;
          line-height: 1;
          vertical-align: middle;
          padding: 10px 15px;

          &._td-ticker {
            text-align: start;
          }
        }
      }
    }
  }
}

.table-top-strategies {

  table.table {
    margin: 0;

    thead {

      tr {
        border-bottom: 1px solid $border-color-primary;

        th {
          font-family: $font-medium;
          font-size: 12px;
          padding: 18px 10px;
          text-align: center;
          line-height: 1;
          white-space: nowrap;
          color: $text-color-dark-blue;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $border-color-primary;

        &:last-of-type {
          border-bottom: none;
        }

        td {
          padding: 15px 10px;
          text-align: center;
          line-height: 1;
          white-space: nowrap;
          vertical-align: middle;
          font-size: 13px;

          &._td-link {
            text-align: start;
            padding-left: 20px;
            padding-right: 20px;

            a {
              font-family: $font-medium;
              font-size: 15px;
              line-height: 1;
              color: $text-color-dark-blue;
              padding: 0;

              &:hover {
                color: $mainBlueColor;
              }
            }
          }
        }
      }
    }
  }
}

.card__title {
  font-family: $font-medium;
  font-size: 15px;
  color: $text-color-dark-blue;
  padding: 15px 20px;
  border-bottom: 1px solid $border-color-primary;

  &.with-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
}

.card__default {
  padding: 15px;
  @include card-defaults;
}
table.table--primary {
  color: $textColor;
  margin: 0;

  thead {
    border: none;

    tr {

      th {
        font-size: 15px;
        font-family: $font-medium;
        color: #fff;
        background-color: $mainBlueColor;
        padding: 14px 10px;
        white-space: nowrap;
        text-align: center;
        border: none;

        &:first-of-type {
          text-align: start;
        }
      }
    }
  }

  tbody {

    tr {

      td {
        font-size: 13px;
        text-align: center;
        padding: 10px;
        border: none;
        border-bottom: 1px solid $border-color-primary;
        vertical-align: middle;
        white-space: nowrap;

        &:first-of-type {
          text-align: start;
        }

        ._row-text-medium {
          font-family: $font-medium;
          color: $text-color-dark-blue;
        }
        ._row-text-small {
          font-size: 10px;
        }

        &._cta-container {
          padding: 3px 10px;

          .btn {
            padding: 3px 10px;
            font-size: 12px;
          }
        }
      }
    }
  }
}



/**
 * =Tooltip Styles
 */
.tooltip-container {
  position: relative;
  padding: 0;

  &:focus,
  &:active {
    box-shadow: none;
  }

  &:hover {
    ._tooltip-content {
      visibility: visible;
      opacity: 1;
    }
  }

  ._tooltip-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 300px;
    top: 50%;
    left: calc(100% + 14px);
    transform: translateY(-50%);
    font-size: 11px;
    color: $mainBlueColor;
    text-align: start;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #E0F1FB;
    //pointer-events: none;
    transition: opacity 0.7s ease;
    z-index: 10;

    @media (max-width: 575.98px) {
      top: calc(100% + 12px);
      left: -60px;
      transform: translate(0, 0);
      width: 270px;
    }


    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 100%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 8px solid #E0F1FB;

      @media (max-width: 575.98px) {
        top: auto;
        left: 52px;
        bottom: 100%;
        transform: translate(50%, 0);
        border-top: none;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #E0F1FB;
      }
    }
  }
}


/**
 * =Utility Classes
 */
.text-danger {
  color: $redColor !important;
}

.text-primary {
  color: $mainBlueColor !important;
}

.text-dark {
  color: $text-color-darker !important;
}

.text-medium {
  font-family: $font-medium;
}

.text-start {
  text-align: start !important;
}




.mb-30 {
  margin-bottom: 30px !important;
}