@import "../../../styles/params/variables";

.avatar {
    width: 50px;
    height: 50px;
    margin: 0 15px;
    border-radius: 3px;
  }



@media only screen and ($mediaXSmallWidth) {
  .avatar {
    width: 30px !important;
    height: 30px !important;
  }
}
