@media only screen and ($mediaMaxWidth){
    .dashboard--container {
      display: flex;
      justify-content: center;
      align-items: center;
        font-size: 3em;
        color: $mainBlueColor;
      }
      
}

@media only screen and ($mediaMediumWidth){
  .dashboard--container {
    font-size: 1.8em;
  }
}

@media only screen and ($mediaSmallWidth){
  .dashboard--container {
    font-size: 1.5em;
  }
}