@media only screen and ($mediaMaxWidth){
    .header--container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding:15px 0;
        .header--container__logo{
            color:$mainBlueColor;
            font-weight: 600;
            font-size: 1.6em;
            letter-spacing: 1px;
            margin-left:42px;
            cursor: pointer;
        }
        .authnav--container{
            display: flex;
            align-content: space-between;
            align-items: center;
            .authnav--container__button{
                text-decoration: none;
                color:$mainBlueColor;
                padding: 13px;
                font-size: 0.85em;
            }
            
            .authnav--container__notificationbtn{
                background-color:#fff;
                width:50px;
                height: 50px;
                margin-left: 10px;
                font-size: 1.2em;
                text-align: center;
                color: $lightBlueColor;
                border:none;
                border-radius: 5px;
                position: relative;
                .authnav--container__fontawesome{
                    color:$searchColor;
                }
            }
            
            .authnav--container__avatar{
                width:50px;
                height:50px;
                margin: 0 15px;
                border-radius: 3px;
            }
            
            .authnav--container__notificationbadge {
                position: absolute;
                width:6px;
                height:6px;
                top:18px;
                left:26px;
                border-radius: 300px;
                background-color: red;
            }
            
        }
    }

    .navigationbar--container{
        background-color: $whiteColor;
        padding: 15px;
        box-shadow: 4px 4px 20px $navigationBarShadowColor;
        display: flex ;
        justify-content: space-between;
        align-items: center;
        .searchbox--input{
            input{
                background-color:$searchColor;
                opacity:0.6;
                border-radius: 3px;
                border:none;
                padding:13px;
                width:240px;
                &::placeholder{
                    font-family: "Poppins-Regular" sans-serif;
                    background:url('../assets/icons/search-solid.svg') no-repeat;
                    font-size:1.1em;
                }
            }
        }
        .navigationitem--link{
            text-decoration: none;
            color: $textColor;
            border-radius: 3px;
            padding: 13px;
            margin: 0 8px;
            font-size: 0.9em;
            font-weight: 400;
            &:hover{
                background-color:$lightBlueColor;
                color:$mainBlueColor;
            }
        }
        .navigationitem--link__auth{
            display:none;
        }
        .navigationbar--container__navitems{
            display:flex;
            flex-direction: row;
        }
    }
    .burgerbutton--container {
        display: none;
        margin: 0 10px;
        cursor: pointer;
      }
      
      .burgerbutton--bar1, .burgerbutton--bar2, .burgerbutton--bar3 {
        width: 35px;
        height: 5px;
        background-color: $mainBlueColor;
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change {
          .burgerbutton--bar1{
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
          }
      }
      
      .change {
          .burgerbutton--bar2 {opacity: 0;}
      }
      
      .change {
        .burgerbutton--bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
          }
      }
}
@media only screen and ($mediaMediumWidth){
    .header--container{
        border-bottom: 1px solid $mainBlueColor !important;
    }
    @keyframes navigationbar {
        0%{
            transform: translateY(-100px);
        }
        100%{
            transform: translateY(0px);
        }
    }

    .navigationbar--container{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        .navigationbar--container__navitems{
            flex-direction: column;
            align-content: flex-start;
            width: 100%;
        }
        .searchbox--input{
            margin-top:8px;
            margin-left:18px;
        }
    }
    .navigationbar--container__remove{
        display: none !important;
    }
    .navigationbar--container__show{
        animation-name:navigationbar;
        animation-duration: 0.3s;
        display: flex !important;
    }
    .burgerbutton--container {
        display: inline-block !important;
    }
    .header--container__logo{
        margin-left:37px !important;
        font-size: 1.4em !important;
    }
}

@media only screen and ($mediaSmallWidth){
    .header--container{
        border-bottom: 1px solid $mainBlueColor !important;
    }

    @keyframes navigationbar {
        0%{
            transform: translateY(-100px);
        }
        100%{
            transform: translateY(0px);
        }
    }

    .auth--buttons__container{
        display:none;
    }
    .navigationitem--link__auth{
        display: block !important;
    }
    .navigationbar--container__remove{
        display: none !important;
        
    }
    .navigationbar--container__show{
        animation-name:navigationbar;
        animation-duration: 0.3s;
        display: flex !important;
    }
    .header--container__logo{
        margin-left:20px !important;
        font-size: 1em !important;
    }
}

@media only screen and ($mediaXSmallWidth){
    .header--container__logo{
        font-size: 0.9em !important;
        margin-left: 10px !important;
    }
    .authnav--container__avatar{
        width:30px !important;
        height: 30px !important;
    }
    .authnav--container__notificationbtn{
        width:30px !important;
        height: 30px !important;
    }
    .authnav--container__notificationbadge{
        top:6px !important;
        left: 15px !important;
    }
}






