@import "params/variables";

// @font-face {
// font-family: "Poppins-Medium";
// src: url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
// }

@font-face {
  font-family: "Poppins-Medium";
  src: url("../assets/fonts/Poppins-Medium.otf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../assets/fonts/Poppins-Regular.otf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../assets/fonts/Poppins-Bold.otf");
}

* {
  font-family: "Poppins-Regular", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  .root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.7;
  }
}

html{
  height: 100%;
  width: 100%;
}

body {
  background-color: $backgroundColor;
  position: relative;
}

ul {
  list-style: none;
}
