@import "../../../../../styles/params/variables";

.container{
    box-shadow: 2px 2px 20px rgb(228, 228, 228);
    border-radius: 2px;
    margin-top: 2rem;
    flex-basis: 100%;
    height: 400px;
    table{
        td{
            font-size: 0.55rem;
            overflow: hidden !important;
            white-space: nowrap !important;
            text-align: center !important;
            &:first-child{
                text-align: left !important;
            }
        }
        th{
            font-size: 0.6rem !important;
            &:first-child{
                text-align: left;
            }
        }
    }
}



@media only screen and ($mediaChartPreSmall){
    .container{
        table{
            td{
                font-size: 0.85rem !important;
            }
            th{
                font-size: 0.9rem !important;
            }
        }
    }
}

@media only screen and ($mediaChartMedium){
    .container{
        flex-basis: 30% !important;
        table{
            td{
                font-size: 0.9rem !important;
            }
            th{
                font-size: 1rem !important;
            }
        }
    }
}

@media only screen and ($mediaChartMax){
    .container{
        flex-basis: 31% !important;
        table{
            td{
                font-size: 1rem !important;
            }
            th{
                font-size: 1.1rem !important;
            }
        }
    }
}