@import "../../../../../styles/params/variables";
.buttons__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-basis: 100%;
  padding-top: 2rem;
}
.buttons__submit {
  margin: 1rem 0;
  flex-basis: 20%;
  text-align: center;
  color: $whiteColor;
  padding: 15px 25px;
  background-color: $mainBlueColor;
  font-size: 1em;
  border: 1px solid $mainBlueColor;
  border-radius: 4px;
  box-shadow: 0 1px 6px $mainBlueColor;
  cursor: pointer;
  margin-left: 1rem;
}