
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (min-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == ipad {
        @media only screen and (min-width: 48em) { @content };    //768px
    }
    @if $breakpoint == tab-port {
        @media only screen and (min-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == mediaMinWithMedium {
        @media only screen and (min-width: 62em) { @content };     //992px
    }
    @if $breakpoint == mediaMinWithLarge {
        @media only screen and (min-width: 64em) { @content };     //1024px
    }
    @if $breakpoint == tab-land {
        @media only screen and (min-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}

@mixin allControllerHeading() {
    font-weight: 400;
    border-bottom: 1px solid #d7d7d7;
    color: #192a3e;
    margin-left: 0.5rem;
    max-width: 10rem;
  
  }