@import "../../../../styles/params/variables";
@import "../../../../styles/params/mixins";
/*Date Container Start*/
.dateContainer {
  list-style: none;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  margin: 1.5rem;
  font-weight: 400;
}
.lastUpdate {
  color: #60dfc8;
}
.nextUpdate {
  color: #109cf1;
}
/*Date Container End*/

/*Main Container Start*/
.container {
  background-color: #ffff;
  padding: 1.4rem 2rem;

  /*Tabs Start*/
  .tabbar {
    border-bottom: 1px solid #ebeff2;
    padding: 1rem;
  }
  .tabs {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #989898;
    li {
      flex-basis: 30%;
      cursor: pointer;
    }
    .tab {
      border-bottom: 2px solid #d7d7d7;
    }
    .tabActive {
      border-bottom: 2px solid #109cf1;
      color: #109cf1;
    }
  }

  /*Tabs End*/

  .strategy {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 100%;
  }
}

.factorsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.Company_SectorContainer {
  flex-basis: 90%;
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: space-between;
}

.CountryContainer {
  flex-basis: 90%;
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: space-between;
}
.NumberofStockContainer {
  flex-basis: 90%;
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ActionButtonsContainer {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 1rem;
}
@include respond(phone) {
  .strategy {
    flex-direction: row !important;
    flex-wrap: wrap !important;

  }
  .factorsContainer {
    border: none;
    flex-basis: 20%;
  }
  .Company_SectorContainer {
    flex-basis: 65%;
  }
  .CountryContainer {
    padding-top: 2rem;
    flex-basis: 50%;
  }
  .NumberofStockContainer {
    padding-top: 2rem;
    flex-basis: 40%;
    flex-grow: 3;
  }
}

@include respond(ipad) {
  .strategy {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    align-items: flex-start;  
  }
  .factorsContainer {
    flex-basis: 10%;
  }
  .Company_SectorContainer {
    flex-basis: 55%;
  }
  .CountryContainer {
    padding-top: 0;
    flex-basis: 100%;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    align-items: center;
  }

}
@include respond(tab-port) {
  .strategy {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    align-items: center;  
  }
  .factorsContainer {
    flex-basis:10%;
  }
  .Company_SectorContainer {
    flex-basis: 55%;
  }
  .CountryContainer {
    padding-top: 0;
    flex-basis: 20%;
    flex-wrap: wrap !important;
  }

}
@include respond(tab-land) {
  .strategy {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: flex-start;  
  }
  .factorsContainer {
    flex-basis:10%;
  }
  .Company_SectorContainer {
    flex-basis: 55%;
  }
  .CountryContainer {
    padding-top: 0;
    flex-basis: 25%;
  }

}

@include respond(big-desktop) {

  .Company_SectorContainer {
    flex-basis:45%;
  }
 

}
//Large Screens

// @media only screen and ($mediaXSmallMinWidth) {
//   .strategy {
//     flex-direction: row !important;
//     flex-wrap: wrap !important;

//   }

//   .factorsContainer {
//     border: none;
//     flex-basis: 100%;

//   }
//   .Company_SectorContainer
//   {
//     flex-basis: 100;
//     display: flex;
//     flex-direction: row !important;
//     flex-wrap: wrap;
//     justify-content: space-between;
//   }
//   .CountryContainer
//   {
//     flex-basis:100%;
//   }
// }
// @media only screen and ($mediaSmallMinWidth) {

//   .strategy {
//     flex-direction: row !important;
//     flex-wrap: wrap !important;

//   }
//   .factorsContainer {
//     border: none;
//     flex-basis: 20%
//   }
//   .Company_SectorContainer
//   {
//     flex-basis: 65%;
//   }
//   .CountryContainer
//   {
//    flex-basis:100%  !important;;
//    justify-content: space-between!important;;
//    flex-direction: row !important;
//    display: flex !important;
//    flex-wrap: wrap  !important;
//   }
// }

// @media only screen and ($mediaMinWithMedium) {
//   .strategy {
//     flex-direction: row !important;
//     flex-wrap: wrap !important;

//   }

//   .factorsContainer {
//     border: none;
//     flex-basis: 20%
//   }
//   .Company_SectorContainer
//   {
//     flex-basis: 60% ;
//     display: flex;
//     flex-direction: column;
//   }
//   .CountryContainer
//   {
//     flex-basis: 100% !important;
//     flex-direction: row !important;
//   }
// }

// @media only screen and ($mediaMinWithLarge) {
//   .strategy {
//     flex-direction: row !important;
//     flex-wrap: wrap !important;

//   }

//   .factorsContainer {
//     border: none;
//     flex-basis: 20% !important;
//   }
//   .Company_SectorContainer
//   {
//     flex-basis:50% !important;
//     display: flex;
//     flex-direction: column;
//   }
//   .CountryContainer
//   {
//     flex-basis: 30% !important;
//     flex-direction: column !important;
//   }

// }
