@import '../../../styles/params/variables';

.header_container{
    padding: 1rem 1.2rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    border-bottom: 1px solid $searchColor;
    align-items: center;
    width: 100%;
}