@import "../../../../../styles/params/variables";
    .container{
        flex-basis: 100%;
        padding: 2rem;
        background-color: white;
        width: 285px;
        p{
            flex-basis: 100%;
            &:first-child{
                font-weight: bold;
                font-size: 1rem;
            }
        }
        .subheader{
            color:$textColor;
            opacity: 0.7;
            font-size: 0.8rem;
            margin-bottom: 1rem;
        }
        .chartcontainer{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-basis: 100%;
        }
        .tablecontainer{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex-basis: 100%;
            justify-content: space-between;
        }
    }


.spinnerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-basis: 100%;

}

.messageheader{
    padding: 1rem;
    color: $redColor;
    text-align: center;
    font-size: 1.2rem;
}

.messagespan{
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1rem;
}

.messagebtn{
    flex-basis: 30%;
    padding: 1rem;
    background-color: $mainBlueColor;
    box-shadow: 1px 1px 4px $mainBlueColor;
    border-radius: 4px;
    border: 1px solid $mainBlueColor;
    color:$whiteColor;
    appearance: none;
    cursor: pointer;
    
}