@import "../../../../../styles/params/variables";

.modal_content {
  padding: 30px 50px;
  background: #fff;
  border-radius: 4px;
}

.modal_header {
  font-family: "Poppins-Medium", Roboto, "Helvetica Neue", Arial;
  font-size: 16px;
  color: $text-color-dark;
  margin-bottom: 10px;
}

.modal_btn_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.message_text {
  font-size: 15px;
  margin-bottom: 10px;
}
.message_body {
  padding: 30px 40px;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}
.message_btn_container {
  text-align: right;
}



.SectorLabel {
  color: #707683 !important;
  align-self: flex-start;
}
.warning {
  color: #ff4040 !important;
}

.success {
  color: $mainBlueColor;
}


.modalcontainer {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 100%;
  box-shadow: 1px 1px 4px #f8f8f8;
  opacity: 1 !important;
  padding: 1.5rem;
  .header {
    flex-basis: 100%;
    text-align: left;
    margin-bottom: 1rem;
  }
  .modalinput {
    flex-basis: 100%;
    padding: 1rem;
    color: $textColor;
    border-radius: 3px;
    border: 1px solid $whiteColor;
    box-shadow: 1px 1px 6px $searchColor;
  }
  .btncontainer {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .modalbtn {
    flex-basis: 20%;
    color: $whiteColor;
    border-radius: 2px;
    border: none;
    margin: 1rem;
    appearance: none;
    height: 40px;
    text-align: center;
    cursor: pointer;
    &:first-child {
      background-color: $mainBlueColor;
      box-shadow: 1px 1px 4px $mainBlueColor;
      position: relative;
      
    }
    &:last-child {
      background-color: $redColor;
      box-shadow: 1px 1px 4px $redColor;
      margin-right: 0;
    }
  }
  .spinner{
    position: absolute;
  }
}


.messageheader{
  padding: 1rem;
  color: $redColor;
  text-align: center;
  font-size: 1.2rem;
}

.messagespan{
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1rem;
}
